@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary-color: #223499;
    font-size: 16px;
}

* {
    font-family:'Fira Sans', sans-serif;
    box-sizing: border-box;
}


html, body, * {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
    line-height: 55px;
    margin: 15px 0;

}

h2 {
    font-weight: 100;
    font-size: 2rem;
    line-height: 35px;
    margin: 25px 0;
}

p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 15px;
    margin: 15px 0;
    letter-spacing: 1px;
}

ul {
    /* list-style: none; */
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 25px;

}

ul li {
    margin-left: 30px;
}

.layout {
    
}



