
.header {
    
    background-color: var(--primary-color);
    
    width: 100vw;
    height: 70px;
    padding: 10px 30px;

    display: flex;
    place-items: center; place-content: space-between;

    position: sticky; top: 0;
    z-index: 999;
}





