
.navigationStyles {
    padding: 15px 0;
    list-style: none;
    display: flex; justify-content: flex-start; gap: 15px;

}

a {
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: initial;
    font-weight: 100;
    color: unset;
}

a:visited {
    color: unset;
}